
<!-- 评论 -->
<script src="https://utteranc.es/client.js"
        repo="guofei9987/guofei9987.github.io"
        issue-term="pathname"
        label="utterances"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<!-- 打赏 -->
<center><font size="4px">您的支持将鼓励我继续创作！</font></center>
<iframe src="http://www.guofei.site/donate/" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%;"  frameborder="0" scrolling="no"></iframe>


<!-- 打赏（直接放网页的） -->
<link rel="stylesheet" href="http://www.guofei.site/donate/style.css">

<a id="github" href="https://github.com/guofei9987/donate" target="_blank" class="pos-f tr3" title="Github"></a>
<a href="https://www.guofei.site/" target="_blank" style="position: fixed;">
  <div id="DonateText" class="tr3">guofei.site</div>
</a>
<ul id="donateBox" class="list pos-f tr3">
  <li id="PayPal">
    <a href="https://www.paypal.me/guofei9987" target="_blank">PayPal</a>
  </li>
  <li id="QQPay"></li>
  <li id="AliPay">AliPay</li>
  <li id="WeChat">WeChat</li>
</ul>
<div id="QRBox" class="pos-f left-100">
  <div id="MainBox"></div>
</div>
<script async src="http://www.guofei.site/donate/script.js"></script>
